.input {
  width: 500px;
  height: 30px;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(138, 138, 138, 0.411);
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.5);
  border-radius: 10px;
}


.input > input {
  width: 85%;
  height: 26px;
  border-radius: 10px 0 0 10px;
  border: 2px solid rgba(138, 138, 138, 0.411);
}

.input > input:focus {
    outline:none;
    border: 2px solid rgba(138, 138, 138, 0.822);
    text-align: center;
    width: 80%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.input > button {
  width: 14%;
  height: 30px;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
  background: rgba(138, 138, 138, 0.411);
  border: 0;
}

.input > button:hover {
    background: rgba(138, 138, 138, 0.822);
    transition: top 1s ease-out 0.5s;
}

.input > button:focus {
    outline:none;
}